<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <!--Этот элемент определяет параметры отображения на мобильных устройствах width=device-width указывает, что ширина страницы должна соответствовать ширине устройства, а initial-scale=1.0 задает начальный масштаб отображения-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!--Для шрифтра из фигмы-->
    <title>FKokos.ru</title>
    <link rel="icon" href="../static/images/logo.ico" />
    <link rel="stylesheet" href="../static/css/style.css"> <!--ИЗМЕНЕНО-->
    <script type="text/javascript" src="../static/js/script.js"></script> <!--ИЗМЕНЕНО-->
</head>

<body style="margin:0; background-image: url(../static/images/back.png);">
    <div
        style=" color: gray; width: 25vw; height: 35vw; background-color: white; position: absolute; left: 37vw; top: 10vw; border-radius: 1vw; padding: 1vw;">
        <div style="display: flex;align-items: center; justify-content: space-around;">
            
            <a href="index.html">
                <img src="../static/images/logo.png" alt="Лого_кокос_групп" style="width: 5vw;">
            </a>
            <h1 style="color: black; font-size: 1vw;">Личный кабинет болельщика</h1>
        </div>
        <div style="display: flex;align-items: center; padding-left: 1vw;margin-top: 2vw; margin-bottom: 2vw; width: 23vw; height: 2.5vw; background-color:rgba(248, 248, 248, 1); border-radius: 0.5vw;"><p>Логин</p></div>
        <div style="display: flex;align-items: center; padding-left: 1vw;margin-top: 2vw; margin-bottom: 1vw; width: 23vw; height: 2.5vw; background-color:rgba(248, 248, 248, 1); border-radius: 0.5vw;"><p>Пароль</p></div>
        <p>Восстановить</p>
        <button style="display: flex;align-items: center;justify-content: center; padding-left: 1vw;margin-top: 10vw;margin-bottom: 1vw; width: 23vw; height: 2.5vw; background-color:rgba(2, 71, 46, 1); border-radius: 0.5vw; color: white; font-size: 1.3vw;">Войти</button>
        <p style="display: flex;align-items: center;justify-content: center;">Зарегистрироваться</p>
    </div>

</body>