<!DOCTYPE html>

<html lang="en">



<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="referrer" content="no-referrer" />

  <!--Этот элемент определяет параметры отображения на мобильных устройствах width=device-width указывает, что ширина страницы должна соответствовать ширине устройства, а initial-scale=1.0 задает начальный масштаб отображения-->

  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

  <!--Для шрифтра из фигмы-->

  <title>FKokos.ru</title>
  <link rel="icon" href="../static/images/logo.ico" />

  <link rel="stylesheet" href="../static/css/style.css"> <!--ИЗМЕНЕНО-->

  <script type="text/javascript" src="../static/js/script.js"></script> <!--ИЗМЕНЕНО-->

</head>

<body style="margin:0;">

  <div class="header-line"> <!--Шапка с менюшкой -->

    <div class="logo">

      <a href="index.html">

        <img src="../static/images/logo.png" alt="Лого_кокос_групп">

      </a>

    </div>

    <div class="menu">

      <a class="menu-item" href="club.html">О клубе</a>

      <a class="menu-item" href="team.html">Команда</a>

      <a class="menu-item" href="news.html">Новости</a>

      <a class="menu-item" href="matches.html" style="background-color:rgba(0, 73, 44, 1);">Матчи</a>

      <a class="menu-item" href="store.html">Магазин</a>

    </div>



    <div class="phone">

      <a href="#">

        <img src="../static/images/phone-icon.png" alt="Телефон">

      </a>

    </div>



    <div class="lk">

      <a href="auth.html">

        <img src="../static/images/lk.png" alt="Личный кабинет">

      </a>

    </div>

  </div>

  <main>
    <div style="width: 73%; position: relative; display: flex; gap: 20px; flex-direction: column;">
      <div controls width="60vw" height="auto" style="border-radius: 30px;">
        <!--<source src=" https://rr2---sn-5voxnp-aw0e.googlevideo.com/videoplayback?expire=1728904860&ei=PKoMZ7jLD52F6dsPlvzM4As&ip=46.122.70.28&id=o-AM8zIivlDhyIA4bwkSSaYWnQQ1cNMxwRgJyCwSDAgj6H&itag=398&source=youtube&requiressl=yes&xpc=EgVo2aDSNQ%3D%3D&met=1728883260%2C&mh=FS&mm=31%2C29&mn=sn-5voxnp-aw0e%2Csn-c0q7lnly&ms=au%2Crdu&mv=m&mvi=2&pl=23&rms=au%2Cau&initcwndbps=1463750&siu=1&vprv=1&svpuc=1&mime=video%2Fmp4&rqh=1&gir=yes&clen=1388808590&dur=6379.500&lmt=1713793550226018&mt=1728882771&fvip=4&keepalive=yes&fexp=51300761&c=IOS&txp=5537434&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cxpc%2Csiu%2Cvprv%2Csvpuc%2Cmime%2Crqh%2Cgir%2Cclen%2Cdur%2Clmt&sig=AJfQdSswRgIhANkMWgsB6fsTOmTmFnvXhs_Hty5A_lkREdWaRveIAuu0AiEAkwdkj8u_9vlZftTe92g0tz7EVMGA4YlFCN85vGLpRxc%3D&lsparams=met%2Cmh%2Cmm%2Cmn%2Cms%2Cmv%2Cmvi%2Cpl%2Crms%2Cinitcwndbps&lsig=ACJ0pHgwRgIhAKJETxcwdWqysepcaITfjbCgPOs6bjc3mmupC7N2EQP7AiEAkCfZEnpkvXEdBwnVrWTtXoZvli4K4qBXI0r4POt-Gfs%3D"
                type="video/mp4">-->
        <iframe src="https://vk.com/video_ext.php?oid=-156645702&id=456239390&hd=3&autoplay=1" width="800" height="450"
          allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0"
          allowfullscreen>
        </iframe>

      </div>
      <time style="font-size: 20px; font-weight: 600;">28 сентября 2024 15:50</time>
      <p>Какое-то описание матча, какое-то описание матча, Какое-то описание матча, какое-то описание
        матча, Какое-то описание матча, какое-то описание матча.</p>
    </div>
    <ul class="matches">
      <li>
        <time style="opacity: 0.6;">29.09.2024 13:30</time>
        <ul>
          <li><img src="../static/images/logo.png">Кокос Групп</li>
          <li><img src="../static/images/logo-antisport.png">Антиспорт</li>
        </ul>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </main>



  <div class="basement" style="font-size: 1vw;">

    <div style="margin-left: 1vw; margin-right: 16vw;">

      <p style="margin: 0vw;">Контакты</p>

      <p style="margin: 0vw;">Футбольный клуб “Кокос групп”</p>

    </div>

    <p style="margin-right: 3vw;">Наши соцсети</p>

    <a href="#">

      <img src="../static/images/rutube.png" alt="Ссылка на рутуб" style="margin-right: 1vw;">

    </a>

    <a href="https://t.me/fckokocgroup">

      <img src="../static/images/telegram.png" alt="Ссылка на телеграмм" style="margin-right: 35vw;">

    </a>

    <img src="../static/images/logo2.png" alt="Лого" style="width: 5vw;">

  </div>

</body>